<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.canteen"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:name=".client.Application" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".client.views.MenuActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".client.views.LoginActivity"/>
        <activity android:name=".client.views.OrderDetailsActivity"/>
    </application>
</manifest>
